
.server-data-bar {
    background-color: #6f42c188;
    font-family: serif;
    padding: 4px 0;
    cursor: default;
    user-select: none;
    align-items: center;
}

.server-sys-param {
    margin: 0 5px;
}
