.server-data-bar {
    background-color: #6f42c188;
    font-family: serif;
    padding: 4px 15px 4px 20%;
    cursor: default;
    user-select: none;
}

.server-sys-param {
    height: min-content;
    margin: 0 10px;
}

.spinner-border {
    margin-top: 1px;
    margin-right: 10px;
    height: 20px;
    width: 20px;
}