@import './panels/serverDataBar.css';
@import './panels/botFrame.css';
@import './panels/menu.css';

body {
    height: 100vh;
    width: 100vw;
    background-image: url('../img/wp1864093.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    direction: none;
    list-style-image: url('../img/list-icon.png');
    list-style-position: inside;
    font-size: 18px;
}

.sys-text {
    font-family: serif;
}

.work-container {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100vw;
}

.in-container {
    margin: 20px;
}