<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <script src="/jquery/jquery.js"></script>
    <title>Raspberry Pi Node.js Server</title>
</head>
    <body>
        <%- include('panels/serverDataBar', {serverUpTime: serverUpTime, cpuTemperature: cpuTemperature, cpu: ''}); %>

        <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/scripts/main.js"></script>
    </body>
</html>

