<div class="menu-container in-container">

    <img src="/img/bot-ava.png" class="bot-ava">

    <div>
        <div class="bot-name sys-text" hidden>bot name</div>
        <input type="button" class="btn btn-danger js-disconnect-button"  value="disconnect" hidden>
        <div class="input-group input-group-sm mb-3 input-token-group">
            <div class="input-group-prepend">
                <span class="input-group-text">API</span>
            </div>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="bot-api">
        </div>
        <input type="button" class="btn btn-primary js-connect-button"  value="connect" hidden>
    </div>

    <ul class="menu">
        <b>Menu:</b>
        <li id="send-massage">
            Send Message
        </li>
        <li>
            Macros
        </li>
    </ul>

</div>