<div class="server-data-bar d-flex justify-content-end">
    <% if (serverUpTime) {%>
    <span class="server-sys-param">
        Uptime:
        <span class="js-server-up-time badge badge-secondary"><%= serverUpTime.viveData %></span>
    </span>
    <% } %>
    <% if (cpuTemperature !== '!ERR') {%>
    <span class="server-sys-param">
        Temperature:
        <span class="js-server-temp badge badge-
        <% if (cpuTemperature > 60) { %>
            Danger
        <% } else if (cpuTemperature > 50) { %>
            Warning
        <% } else if (cpuTemperature > 40) { %>
            Secondary
        <% } else { %>
            Success
        <% } %>"> </span><%= cpuTemperature %> C</span>
    </span>
    <% } %>
    <% if (cpu) {%>
    <span class=" server-sys-param">
        Power status:
        <span class="badge badge-secondary"></span>
    </span>
    <% } %>
</div>